# Git stuff
.git

# Docker stuff
*Dockerfile*
*docker-compose*

# Internal
_data/
_debug/
_logs/

# Artifacts
coverage/
doc/
lib/
native/target/
native/artifacts.json
native/index.node
node_modules/
public/assets/
target/
target/fuzz/artifacts/
target/fuzz/corpus/

# .version.json
