# Docker stuff
.dockerignore
Dockerfile

# IntelliJ Idea Project
.idea/

# Downloadedfiles
protoc-3.5.1-linux-x86_64.zip

# Git stuff
.git

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Docker stuff
*Dockerfile*
*docker-compose*

# Internal
_data/
_debug/
_logs/

# Artifacts (root)
root/.cargo/

# Artifacts
.cargo/
coverage/
doc/
docs/
lib/
native/target/
native/artifacts.json
native/index.node
node_modules/
public/assets/
src/native/
target/
target/fuzz/artifacts/
target/fuzz/corpus/
tmp/

# .version.json
