[Unit]
Description=cAdvisor
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull google/cadvisor:latest
ExecStart=/usr/bin/docker run -p 8080:8080 --rm --name %n --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --volume=/dev/disk/:/dev/disk:ro google/cadvisor:latest
ExecStop=/usr/bin/docker stop %n
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cadvisor

[Install]
WantedBy=multi-user.target
