[Unit]
Description=BlockCollider Rendezvous Server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/
ExecStart=/home/ubuntu/.nvm/versions/node/v9.11.1/bin/node /home/ubuntu/.nvm/versions/node/v9.11.1/bin/star-signal --port=9090 --host=0.0.0.0
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rendezvous
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
